---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import GitHubIcon from '../icons/GitHubIcon.astro';
import MailIcon from '../icons/MailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../icons/Briefcase.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Raúl Jiménez - Desarrollador de Software" description="Especializado en desarrollo web full stack, aunque también domino el desarrollo de Bases de Datos y soy un apasionado de la tecnología Blockchain y la Inteligencia Artificial. +10 años de experiencia programando">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<!-- <div class="absolute top-50 left-40 size-80 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-60 animate-blob"></div>
			<div class="absolute top-40 left-70 size-80 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-60 animate-blob animation-delay-2000"></div>
			<div class="absolute top-50 left-30 size-80 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-60 animate-blob animation-delay-4000"></div> -->
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				¡Hola! Soy Raúl Jiménez <a
					href="https://www.linkedin.com/in/rjbarco/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl md:text-2xl lg:text-3xl opacity-80 text-wrap pb-6 md:pb-8 lg:pb-10">
				Soy desarrollador de Software.
			</h2>
			<h3 class="text-sm md:text-xl lg:text-2xl opacity-80 text-wrap leading-6 md:leading-8 lg:leading-10 max-w-[700px] mb-3">Especializado en desarrollo web <span class="text-lime-300/100">full stack</span>, aunque también domino el desarrollo de Bases de Datos y soy un apasionado de la tecnología Blockchain y la Inteligencia Artificial. <span class="text-lime-300/100">+10 años de experiencia programando</span>.</h3>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/rjbarco/">
					<LinkedInIcon class="size-6 lg:size-8" />
				</SocialPill>
				<SocialPill href="https://github.com/Veregorn">
					<GitHubIcon class="size-6 lg:size-8" />
				</SocialPill>
				<SocialPill href="mailto:rjbarco@gmail.com">
					<MailIcon class="size-6 lg:size-8" />
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia" title="Experiencia laboral">
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos" title="Proyectos">
			<Projects />
		</SectionContainer>
	</main>
</Layout>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer utilities {
		.animation-delay-2000 {
			animation-delay: 2000ms;
		}
		.animation-delay-4000 {
			animation-delay: 4000ms;
		}
	}
</style>