<header class="flex justify-between items-center px-4 py-5 w-full xl:w-[1120px] mx-auto">
    <img
        class="size-20 rounded-full" 
        src="../../public/profile-pic.png" 
        alt="Raul Jimenez Portfolio's Logo" />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>